<% content_for :body do %>
  <ul id="subscriptions">
    <% @subscriptions.each do |subscription| %>
      <li>
        <%= link_to subscription.email, refinery.subscriptions_subscription_path(subscription) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
